<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.exr.servicemanager" >

    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:label="@string/title_activity_package_settings" >
        </activity>
        <activity
            android:name=".ActivityPackage"
            android:label="@string/title_activity_package" >
        </activity>
        <activity
            android:name=".ActivityProfile"
            android:label="@string/title_activity_profile" >
        </activity>
    </application>

</manifest>
